body{
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

        img{
            object-fit: cover;
            object-position: center;
        }

        .form{
            width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: #0d87f3;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    padding: 35px;
        }

         .form form{
              opacity: 0;
              pointer-events: none;
              transition: all 1.2s;
              transform: translateY(100%);
         }

        .form input{
            padding: 10px;
    border: 1px solid #cccccc8a;
    margin-top: 10px;
    width: 94%;
    display: block;
        }


        .form button{
            border: 0;
            padding: 12px 25px;
            background-color: blue;
            color: #fff;
            border-radius: 7px;
            margin: 15px auto;
            display: block;
        }

.box{
    width: 400px;
    height: 400px;
    margin: auto;
    border: 1px solid red;
}

.parents{
    text-align: center;
}