*{
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}

body{
    margin: 0;
 
    background-color: #363636;
}

header{
    background-image: url('../img/Photo.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.container{
    width: 1100px;
    margin: auto;
    max-width: 100%;
}

nav{
    background-color: blue;
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
}

.navflex{
   display: flex;
}

nav ul {
    margin-left: auto;

}

nav ul  li{
 display: inline-block;
}

nav ul  li a{
  margin: 0 7px;
  color: #fff;
  text-decoration: 0;

}

.home i {
    position: relative;
    top: 9px;
    left: 14px;
}

.card{
    width: 350px;
    margin: auto;
    border: 3px solid red;
}

.text-body{
    padding: 7px;

}

.disc{
    position: absolute;
    background-color: green;
    display: inline-block;
    color: #fff;
    padding: 7px;
    
    
}



.stick{
    height: 500px;
    position: relative;
    background-color: brown;
}

.psosticky{
    position: sticky;
    top: 0;
    width: 50%;
    right: 0;
    height: 20px;
    background-color: blueviolet;
}

.scroltop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

html{
    scroll-behavior: smooth;
}


.cards{
    width: 350px;
    margin: 50px  auto;
    background-color: #fff;
    border-radius: 22px ;
    box-shadow: -14px 14px 1px #323131;
    position: relative;
    transition: all .6s;
}


.cards:hover{
    box-shadow: 14px 14px 1px #323131;
}


 

img{
    max-width: 100%;
}

.logo{
    width: 90px;
}

.card-head{
    color: white;
    padding: 0  30px;
    background: linear-gradient(90deg, rgba(252,150,3,1) 16%, rgba(222,171,0,1) 78%);
    border-radius: 22px 10px 0 0;
    font-family: monospace;
    text-transform: uppercase;
    overflow: hidden;
}

.card-head h1{
    margin-bottom: 5px;
}

.card-head h3{
    font-size: 160px;
    color: #3231315c;
    position: relative;
    left: -37px;
  
}

.promoimg{
    position: absolute;
    top: 12%;
    left: 35%;
    opacity: 0;
    transition: all 1s;
}

/* hover მაუსის მიტანა */
.cards:hover .promoimg {
    top: 2%;
    left: 15%;
    opacity: 1;
    transform: rotate(15deg);
}

input{
    transition: all .6s;
}

/* ინფუთში კურსორის შეტანა */
input:focus {
padding: 15px;
border-radius: 50px;
border: 0;
outline: 0;
}

.cards-body{
    padding: 22px;
    font-family: monospace;
    text-transform: uppercase;
    transition: all .6s;
}

/* კლიკი */
.cards-body:active{
  background-color: violet;
}

/* მონახულებული ლინკი */
a:visited{
    color: limegreen;
}

/* .comb p{
    background-color: red;
} */

.comb > p{
    background-color: red;
}


/* .comb + h1{
    background-color: green;
} */

.comb ~ h1{
    background-color: green;
}

.cards-body h4{
 font-size: 22px;
 margin-bottom: 4px;
 display: flex;
 justify-content: space-between;
}
.cards-body h4 span{
background-color: #f44336;
padding: 1px 10px;
border-radius: 3px;
color: #fff;
}

.cards-body h5{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px;
 }

 .size {
     margin-top: 25px;
 }

 .size span{
     display: inline-flex;
     width: 30px;
     height: 30px;
     font-weight: bold;
     justify-content: center;
     border-radius: 50px;
     align-items: center;
 }

 .size .active{
  background-color: #f69a02;
 }

 .colours{
     margin-top: 15px;
   position: relative;
   padding-bottom: 35px;
 }

 .colours span{
     width: 20px;
     height: 20px;
     display: inline-flex;
     border-radius: 50px;
 }


 .colours .active{
    border: 1px solid #00cdef;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4px;
}

.colours .active span{
    background-color: #00cdef;
    width: 10px;
    height: 10px;
}

 .red{
     background-color: red;
 }

 .black{
    background-color: rgb(0, 0, 0);
}

.mb-3{
    margin-bottom: 15px;
}

.price{
    color: #fff;
    position: absolute;
    background: #00cdef;
    font-size: 25px;
    border-radius: 5px;
    padding: 7px 12px;
    box-shadow: 7px 7px 7px #00cdef;
    right: -19%;
    top: 25%;
}

