@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');

@font-face {
    font-family: unicode;
    src: url('../fonts/3d_unicode.ttf');
}

body{
    height: 1800px;
}

h1{
    color: red;
    /* font-family: 'Qahiri', sans-serif; */
}


.text-white{
    color: #5e0afa; /* ფერის თვისება */
    font-size: 18px; /* ფონტის ზომა*/
    text-decoration: underline overline line-through wavy  ;  /* ხაზის გასმა (ზედა,ქვედა, შუა) */ 
    text-align: center; /* ტექსტის განლაგება (მარცხენა ცენტრი მარჯვენა) */
    line-height: 1.5; /* ტექსტის დაშორება წინადადებებს შორის (ახალ ხაზზე) */
    letter-spacing: 7px; /* სიმბოლოების დაშორება დაშორება ჰორიზონტალურად */
    text-transform: capitalize; /* ტექსტი დიდი და პატარა ასოები (ლათინური) */
    font-family: unicode; /* ფონტის მინიჭება */
    text-shadow: 4px 4px 7px red;  /* ტექსტის შუქჩრდილები */
}


/* #zura{
    color: greenyellow;
} */

#line{
    width: 500px; /* სიგანე ზოგადი თვისებაა ყველა ტეგს აქვს  */
    white-space: nowrap; /* ტექსტის განლაგება ერთ ხაზზე */
    overflow: hidden; /*  ფიქსირებული ზომის გარეთ ტექსტის ან ნებისმიერი ელემენტის გაქრობა */
    text-overflow: ellipsis; /* ტექსტის ბოლო 3 წერტილი :) */
}

.mineheader{
    height: 100vh; /* სიმაღლე ზოგადი თვისებაა ყველა ტეგს აქვს  */
    background-color: #12141a;   /* ფონის ფერი */
    background: linear-gradient(0deg, rgba(15,16,29,1) 15%, rgba(6,7,29,1) 71%);  /* ფონის ფერი  გრადაცია*/
    background-image: url('../img/Photo.png'); /* ფონის ფოტო */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */

}


.center{
    background-color: rgb(34, 36, 34);
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}