
@font-face {
    font-family: BGPBOLD;
    src: url('../fonts/bpg_nino_mtavruli_bold.ttf');
}

@font-face {
    font-family: BGPARIAL;
    src: url('../fonts/bpg_arial_2009.ttf');
}


.carousel-item{
    height: 730px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

.subnav{
    z-index: 1;
    background-color: #404040bf;
}

.subnav a{
  font-size: 15px;
  color: #fff;
  font-family: BGPBOLD;
  padding: 12px 0 8px;
  display: inline-block;
}

.menu a {
    margin-left: 25px;
  
    
}

.navbar{
    z-index: 2;
    top: 43px;
}

.dropdown-toggle::after{
    display: none;
}

.nav-item{
    color: #6b6b6b;
    font-size: 17px;
    font-family: BGPBOLD;
}

.nav-link img{
    margin-right: 12px;
}

.nav-item:first-child .nav-link img{
    position: relative;
    bottom: 8px;
    margin-right: 3px;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height:15px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-top: 0;
    border-bottom: 0;
    opacity: .5;
    transition: opacity .6s ease;
    border: 4px solid #fff;
    border-radius: 50%;
}

[data-bs-target="#carouselExampleCaptions"] + img{
  opacity: 0;
  transition: all .6s ease;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 34px;

}

[data-bs-target="#carouselExampleCaptions"] ~ i{
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    bottom: 20px;
    transition: all .6s ease;
    
  }

[data-bs-target="#carouselExampleCaptions"] + img::after{
    content: "";
}


[data-bs-target="#carouselExampleCaptions"]:hover  +img, [data-bs-target="#carouselExampleCaptions"]:hover  ~ i{
    opacity: 1;
    
  }

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1125px;
}
}

@media (min-width: 992px){
   .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 9px;
} 
}
